.main {
  margin-left: 372px;
  margin-right: 20px;
}

.sec-part {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 50px;
  margin: 0 70px;
  padding-left: 0;
  margin-left: 0;
}
.greet {
  left: 0;
  font-size: 70px;
}
.cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.live-card {
  margin-bottom: 20px;
}
.streamingNowtext {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: white;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 30px;
}
