.side-bar {
  position: fixed;
  left: 2px;
  top: 2px;
  bottom: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
}

.profile {
  flex: 1;
  background-color: white;
  border-radius: 5px;
}

.break {
  flex: 0.01;
}

.following {
  flex: 1;
  background-color: white;
  border-radius: 5px;

}
.main {
  margin-left: 375px;
}
.logout-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.logout-content {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sec-part {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 50px;
  margin: 0 70px;
  padding-left: 0;
  margin-left: 0;
}
.greet {
  left: 0;
  font-size: 70px;
}
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-right: 20px;
}
.live-card {
  margin-bottom: 20px;
}
.streamingNowtext {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: white;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 30px;
}
.following-title {
  color: rgb(206, 200, 200);
  margin: 20px 16px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.following-artist {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
  transition: background-color 0.15s;
}
.following-artist:hover {
  cursor: pointer;
  background-color: rgb(242, 242, 243, 0.1);
}
.artist {
  display: flex;
  align-items: center;
}

.artist-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
}
